.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s ease-in-out;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.collapseBtn {
  position: absolute;
  top: 12px;
  right: 20px;
  border: 1px solid var(--inverted-primary-color);
  border-radius: 4px;
}

.sidebarItems {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 60px;
}

.sidebarItem {
  text-align: center;
}
