.app.dark {
  --bg-color: #1e293b;
  --inverted-bg-color: #f1f5f9;

  --primary-color: #e5e7eb;
  --secondary-color: #f9fafb;
  --inverted-primary-color: #1e293b;
  --inverted-secondary-color: #334155;
}
