.app.light {
  --bg-color: #f1f5f9;
  --inverted-bg-color: #1e293b;
  --primary-color: #1e293b;
  --secondary-color: #334155;
  --inverted-primary-color: #e5e7eb;
  --inverted-secondary-color: #f9fafb;
}
