.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
  justify-content: end;
  padding: 0 16px;
}

.links {
  margin-left: 0 auto;
  display: flex;
  gap: 24px;
}
